<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Veggie Bucket</mat-card-title>
      <mat-card-subtitle>Sells Veggies</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="conatiner">
        <mat-tab-group>
          <!-- Login -->
          <mat-tab label="Sign In">
            <br>
            <p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Enter your email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  [formControl]="email"

                />
                <mat-error *ngIf="email.invalid">{{
                  getEmailErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput [formControl]="password"
                 [type]="hide ? 'password' : 'text'" />
                <button mat-mini-fab color="primary"
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{
                  getPasswordErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </p>
            <button mat-raised-button color="primary">Login</button>
          </mat-tab>
          <!-- Register -->
          <mat-tab label="Register">
            <br>
            <p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Enter your email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  [formControl]="email"

                />
                <mat-error *ngIf="email.invalid">{{
                  getEmailErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput [formControl]="password"
                 [type]="hide ? 'password' : 'text'" />
                <button mat-mini-fab color="primary"
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{
                  getPasswordErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Confirm password</mat-label>
                <input matInput [formControl]="password"
                 [type]="hide ? 'password' : 'text'" />
                <button mat-mini-fab color="primary"
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">{{
                  getConfirmPasswordErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </p>
            <button mat-raised-button color="primary">Register</button>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
